.App-logo {
  height: 40vmin;
}
.App-header {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* disable control panel */


.App-link {
  color: #09d3ac;
}
